# Mac OSX system files
.DS_Store

# Ignore photo directories and photos stored in root by gphoto2
thumbs/
full/
tmp/
*.jpg

# Ignore populated config file
config.cfg
credentials.csv

# Ignore database
photostreamer.db

# Byte-compiled Python files
__pycache__/
*.py[cod]

# PIP logs
pip-log.txt
pip-delete-this-directory.txt